@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>OBAMA LIKES QUADRANTS</h1>
            <img src="~/img/obamna.jpeg" />
            <p>Come do stuff :)</p>

            <p>
                The vast expanse of the universe, with its shimmering galaxies and enigmatic black holes, continues to captivate the human imagination, inviting us to ponder the mysteries of existence. Within this cosmic tapestry lies a tapestry of wonder and discovery, where each twinkling star represents a story waiting to be unravelled. From the birth of stars in fiery nebulae to the elegant dance of planets around their suns, the cosmos unfolds in a symphony of celestial phenomena, reminding us of our place in the grand scheme of things. Amidst the darkness of space, the light of distant stars offers both solace and inspiration, sparking the curiosity of generations past and present. As we gaze into the depths of the night sky, we are reminded of the boundless possibilities that await us, urging us to explore, to question, and to dream.
            </p>
        </div>
    </div>
</div>