@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/quadrants.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="custom-block urgent-important">
                Urgent & Important
            </div>
            <div class="quadrant-content">
                <ul>
                    <li>Emergencies</li>
                    <li>Crisis</li>
                    <li>other stuff</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="custom-block not-urgent-important">
                Not Urgent & Important
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="custom-block urgent-not-important">
                Urgent & Not Important
            </div>
        </div>
        <div class="col-md-6">
            <div class="custom-block not-urgent-not-important">
                Not Urgent & Not Important
            </div>
        </div>
    </div>
</div>