/* Custom styles for the blocks */
.custom-block {
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.urgent-important {
    /* green */
    background-color: #5eba7d;
}
.not-urgent-important {
    /* yellow */
    background-color: #5eba7d;
}
.urgent-not-important {
    /* yellow */
    background-color: #5eba7d;
}

.not-urgent-not-important {
    /* red */
    background-color: #5eba7d;
}

